@use "../../styles/color" as color;

.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 100vh;
}

.choices {
    list-style-type: none;
}

%baseChoice {
    display: flex;
    font-size: 1.5rem;
    gap: 0.7rem;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.choice {
    @extend %baseChoice;
}

.choiceChosen {
    @extend %baseChoice;
    color: color.$brandColor;
}

.choice:hover {
    color: color.$brandColor;
}

.circle {
    font-size: 2rem;
}

.circleChosen {
    font-size: 2rem;
    color: color.$brandColor;
}

.tableContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.answerTable {
    width: 80%;
    border: 1px solid;
    thead {
        td {
            border-bottom: 2px solid;
        }
    }

    td {
        text-align: center;
    }

    %baseQuestionCell {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .questionCell {
        @extend %baseQuestionCell;
    }

    .questionCellChosen {
        @extend %baseQuestionCell;
        color: color.$brandColor;
    }

    .questionCell:hover {
        color: color.$brandColor;
    }
}
