@use "../../styles/color" as color;

.resultTable {
    width: 80%;
    border: 1px solid;
    font-size: 1.5rem;
    thead {
        td {
            border-bottom: 2px solid;
        }
    }

    td {
        text-align: center;
    }

}